/* Base styles (for larger screens) */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

.resume-content {
    padding: 30px;
    background-color: white;
    margin-top: 70px;
    animation: slideDown 1s ease-out;
    
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.resume-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resume-center h2{
   
  
    font-family: "Raleway", sans-serif;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;
   
   
}
 .underline-resume{
    width: 80px;
    height: 3px;
   border-radius: 3px;
    background-color: #34b7a7;
    margin-top: 10px;
}

.resume-center p {
    text-align: center;
    margin-top: 30px;
    color: #444444;
    font-family: "roboto", sans-serif;
}

.resume-row {
    display: flex;
    padding: 30px 80px;
    gap: 20px;
}

.resume-container1, .resume-container2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 0px 30px;
   
}

.resume-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: "Raleway", sans-serif;
}

.sumary-details, .education-detail,.experience-detail {
    position: relative;
    box-sizing: border-box;
    border-left: 2px solid #34b7a7;
    padding: 0 0 20px 20px;
    color: #444444;
}

.sumary-details::before, 
.education-detail::before,
.experience-detail::before{
    content:" ";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: -10px;
    top:0;
    border: 2px solid #34b7a7;
    background-color:aliceblue ;
}
.resume-details h4, .resume-details h5 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
    color: #444444;
}

.sumary-details p, .education-detail p {
    font-family: "Roboto", sans-serif;
    color: #444444;
    text-align: justify;
}
.sumary-details  ul li, .experience-detail ul li {
    padding-top: 15px;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    color: #444444;
    text-align: justify;

   
}

.college{
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: #444444;
    text-align: justify;
}



.education {
    margin-top: 50px;
}


@media (max-width: 1024px) {
    .resume-row {
        flex-direction: column;
        padding: 20px 40px;
        gap: 30px;
    }

    .resume-container1, .resume-container2 {
        width: 100%;
        padding: 0px 15px;
    }

 

    .resume-header h2 {
        font-size: 28px;
    }

    .resume-title {
        font-size: 28px;
    }

    .resume-details h4, .resume-details h5 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .resume-content {
        padding: 20px;
    }

    .resume-header h2 {
        font-size: 24px;
    }

    .resume-header p {
        font-size: 14px;
    }



    .resume-row {
        padding: 20px 20px;
    }

    .resume-title {
        font-size: 24px;
    }

    .resume-details h4, .resume-details h5 {
        font-size: 14px;
    }

    .sumary, .education{
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .resume-content {
        padding: 15px;
    }

    .resume-header h2 {
        font-size: 20px;
    }

    .resume-header p {
        font-size: 12px;
    }


    .resume-row {
        padding: 10px;
        gap: 10px;
    }

    .resume-title {
        font-size: 20px;
    }

    .resume-details h4, .resume-details h5 {
        font-size: 12px;
    }

    .sumary, .education {
        padding: 10px;
    }
}



